<ion-header>
  <ion-toolbar>
    <ion-title>exted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h4>Account Balance {{accountBalance}}</h4>
    <ion-item>
      <ion-label> Route</ion-label>
      <ion-input disabled [(ngModel)]="route" name="route" color="dark" type="text">
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label> Start</ion-label>
        <ion-input disabled [(ngModel)]="start" name="start" color="dark" type="text">
          </ion-input>
    </ion-item>

    <ion-item>
        <ion-label>End</ion-label>
        <ion-input disabled [(ngModel)]="end" name="end" color="dark" type="text">
          </ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Extended</ion-label>
      <ion-select *ngIf="disableDrop=='false'" value="" okText="Okay" [(ngModel)]="exd" (ionChange)="pointSelect($event)" cancelText="Dismiss">
        <ion-select-option *ngFor="let epoint of ePoints" value="{{epoint.id}}">{{epoint.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  
    <h4>Total amount is: {{amount}} + {{extendAmount}}</h4>
    <h6 *ngIf="bal=='insufficent'">Insufficent Balance...Please recharge</h6>
    <div *ngIf="bal!='insufficent'">
        <ion-button (click)="extend()">Extend Now</ion-button>
    </div>
</ion-content>
