ion-grid,
ion-col,
ion-item {
  background-color: #f8f400 !important;
  border: none;
}

ion-button {
  color: black !important;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

ion-input {
  margin: 20px 0px !important;
  padding: 0px 10px !important;
  font-size: 20px;
  height: 50px;
  background-color: #ccc805;
  border-radius: 5px;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
  width: 100%;
  height: $height100;
  background: #dfdfdf;
}

ion-row {
  height: $height100;
}

ion-col {
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

ion-card {
  margin: 20px 0px !important;
}
