<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <div class="thealert">
                <div class="logoholder" text-center>
                    <img src="assets/images/walker.gif" alt="">
                </div>
                <div class="desholder" text-center>
                    <h2>Hello Friend</h2>
                    <p text-wrap> You are arrived to the destination..! Please scan your QR again!</p>
                </div>
               
                <div class="btnshlder" text-center>
                    <button ion-button (click)="dismiss()">OK</button>
                </div>
            </div>
        </ion-row>
    </ion-grid>
  
  
  
  
  </ion-content>