<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <div class="thealert">
                <div class="logoholder" text-center>
                    <img src="assets/images/sad2.gif" alt="">
                </div>
                <div class="desholder" text-center style="padding-top: 25px">
                    <h2><b>Ughhh!!</b></h2>
                    <p text-wrap> Your account is not activated..!<br/> Please meet our agent and activate your account!</p>
                </div>
               
                <div class="btnshlder" text-center>
                    <button ion-button (click)="dismiss()">OK</button>
                </div>
            </div>
        </ion-row>
    </ion-grid>
  
  
  
  
  </ion-content>