<ion-header>
  <ion-toolbar>
    <ion-title>Ride Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-col *ngIf="!ride" align-self-center>
  <ion-spinner name="lines"></ion-spinner>
</ion-col>

<ion-content>
  <ion-progress-bar *ngIf="showProgressBar" type="indeterminate" color="dark"></ion-progress-bar>
  <ion-grid>
    <ion-grid class="content">
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <ion-row>
            <ion-col>

              <ion-item lines="none">
                <ion-label>
                  <h2><strong>Account Balance</strong></h2><br>
                  <h2><strong>Ride Status</strong></h2>
                </ion-label>
                <ion-note slot="end">
                  <ion-badge color="success">
                    <strong>LKR {{accountBalance}}</strong>
                  </ion-badge>
                  <h6><strong>{{ride.status}}</strong></h6>
                </ion-note>
              </ion-item>
              <!-- <ion-item lines="none">
                <ion-label>
                  <h2><strong>Ride Status</strong></h2>
                </ion-label>
                <ion-note slot="end">
                  <h6><strong>{{ride.status}}</strong></h6>
                </ion-note>
              </ion-item> -->

              <div style="width: 50%; margin: auto; text-align:center">
                <img src="./../../assets/images/logo.png" alt="" />
              </div>

              <form (ngSubmit)="login()">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label>Route</ion-label>
                    <ion-select value="{{ride.route}}" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="brown">Brown</ion-select-option>
                      <ion-select-option value="blonde">Blonde</ion-select-option>
                      <ion-select-option value="black">Black</ion-select-option>
                      <ion-select-option value="red">Red</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Start</ion-label>
                    <ion-select value="{{ride.startPoint}}" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="brown">Brown</ion-select-option>
                      <ion-select-option value="blonde">Blonde</ion-select-option>
                      <ion-select-option value="black">Black</ion-select-option>
                      <ion-select-option value="red">Red</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>End</ion-label>
                    <ion-select value="{{ride.endPoint}}" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="brown">Brown</ion-select-option>
                      <ion-select-option value="blonde">Blonde</ion-select-option>
                      <ion-select-option value="black">Black</ion-select-option>
                      <ion-select-option value="red">Red</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Extend</ion-label>
                    <ion-select value="" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="brown">Brown</ion-select-option>
                      <ion-select-option value="blonde">Blonde</ion-select-option>
                      <ion-select-option value="black">Black</ion-select-option>
                      <ion-select-option value="red">Red</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-button expand="block" class="btn-secondary" color="dark" type="submit">Extend Ride</ion-button>
                  </ion-item>
                  <p text-center>Select destination to extend your ride.</p>
                </ion-list>
              </form>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>