<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header color="dark" padding>

      <ion-item color="dark" lines="none">
        <ion-avatar slot="end">
          <img src="./../../assets/images/logo.png">
        </ion-avatar>
        <ion-label>
          <h2><strong>{{fname}} {{lname}}</strong></h2>
        </ion-label>
      </ion-item>

      <ion-item color="dark" lines="none">
        <ion-label>
          <h3>{{phoneNumber}}</h3>
        </ion-label>
        <ion-badge slot="end" color="warning" style="color: black">LKR {{accBalance}}.00</ion-badge>
      </ion-item>

    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item lines="none" [routerLink]="page.url" routerDirection="root"
            [class.active-item]="selectedPath == page.url">
            <ion-icon slot="start" name="{{page.icon}}" [color]="selectedPath == page.url ? 'dark' : ''"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id='content' main></ion-router-outlet>
</ion-split-pane>