<ion-header>
  <ion-toolbar>
    <ion-title>Ride Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label>
      <h2><strong>Account Balance</strong></h2><br>
      <h2><strong>Ride Status</strong></h2>
    </ion-label>
    <ion-note slot="end">
      <ion-badge [color]="1 ? 'success' : 'danger'">
        <strong>LKR {{accountBalance}}</strong>
      </ion-badge>
      <h6><strong>{{ride.status}}</strong></h6>
    </ion-note>
  </ion-item>
</ion-header>

<ion-col *ngIf="!ride" align-self-center>
  <ion-spinner name="lines"></ion-spinner>
</ion-col>

<ion-content>
  <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
  <ion-grid>
    <ion-grid class="content">
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <ion-row>
            <ion-col>

              <!-- <div style="width: 50%; margin: auto; text-align:center">
                <img src="./../../assets/images/logo.png" alt="" />
              </div> -->

              <form (ngSubmit)="extend()">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label position="stacked">Bus Route</ion-label>
                    <ion-input disabled [(ngModel)]="route" name="route" color="dark" type="text">
                    </ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="stacked">Start Point</ion-label>
                    <ion-input disabled [(ngModel)]="start" name="start" color="dark" type="text">
                      </ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="stacked">End Point</ion-label>
                    <ion-input disabled [(ngModel)]="end" name="end" color="dark" type="text">
                      </ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="stacked">Extend to</ion-label>
                    <ion-select *ngIf="disableDrop=='false'" value="" okText="Okay" [(ngModel)]="exd" (ionChange)="pointSelect($event)" cancelText="Dismiss" [ngModelOptions]="{standalone: true}">
                        <ion-select-option *ngFor="let epoint of ePoints" value="{{epoint.id}}">{{epoint.name}}</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item lines="none" *ngIf="extend !=null">
                    <ion-note slot="start" color="dark">
                      <h5><strong>New Price</strong></h5>
                    </ion-note>
                    <ion-note slot="end" color="danger">
                      <h5><strong>LKR {{totalAmount}}</strong></h5>
                    </ion-note>
                  </ion-item>
                  <ion-item lines="none" style="padding-top: 20px" *ngIf="bal!='insufficent'">
                    <ion-button expand="block" class="btn-secondary" color="dark" type="submit">Extend Ride</ion-button>
                  </ion-item>
                  <h6 *ngIf="bal=='insufficent'"><b>Insufficent Balance...Please recharge</b></h6>
                  <ion-item lines="none" *ngIf="bal=='insufficent'">
                      <ion-button expand="block" class="btn-secondary" color="dark" (click)="recharge()">Recharge</ion-button>
                    </ion-item>
                  <p text-center>Select destination to extend your ride.</p>
                </ion-list>
              </form>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>