<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Completed Rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-list>

    <ng-container *ngIf="!rides">
      <ion-item *ngFor="let n of [0, 1, 2, 3]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ng-container>

    <div class="ion-text-center" *ngIf="rides">
      <ion-text color="light">Click to see more.</ion-text>
    </div>
    <div *ngFor="let ride of rides">
      <!-- <ion-item-sliding *ngIf="ride.status == 'previous'"> -->
      <ion-item *ngIf="ride.status == 'previous' || ride.status == 'cancelled'" (click)="viewRide(ride)" lines="inset"
        button>
        <ion-icon slot="start" [color]="ride.status == 'previous' ? 'success' : 'danger'"
          [name]="ride.status == 'previous' ? 'checkmark-circle' : 'close-circle'"></ion-icon>
        <ion-label>
          <h2><strong>{{ride.startPoint}} - {{ride.endPoint}}</strong></h2>
          <h2>LKR {{ride.ticketAmount}}</h2>
          <h2>{{ride.status}}</h2>
          <div *ngIf="ride.status == 'previous'">
            <p>Started: {{ride.startTime.toDate() | date: 'MMM d, y, h:mm a'}}</p>
            <p>Ended: {{ride.endTime.toDate() | date: 'MMM d, y, h:mm a'}}</p>
          </div>
          <p *ngIf="ride.status == 'cancelled'">
            Booked: {{ride.createdAt.toDate() | date: 'MMM d, y, h:mm a'}}
          </p>
        </ion-label>
        <ion-note slot="end" color="success" text-center>
          <p *ngIf="ride.status == 'previous'">WP-NAB-4578</p>
          <h3>{{ride.route}}</h3>
          <p>Route</p>
        </ion-note>
      </ion-item>

      <!-- <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeRide(ride.id)">
            Remove
            <ion-icon name="create" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding> -->
    </div>

  </ion-list>

</ion-content>