<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Completed Rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-list>

    <ng-container *ngIf="!rides || rides.length == 0">
      <div *ngFor="let n of [0, 1, 2, 3]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <div *ngFor="let ride of rides">
      <ion-item-sliding *ngIf="ride.status == 'completed'">
        <ion-item lines="inset" button>
          <ion-icon slot="start" color="success" name="checkmark-circle"></ion-icon>
          <ion-label>
            <h2><strong>{{ride.startPoint}} - {{ride.endPoint}}</strong></h2>
            <h2>LKR {{ride.ticketAmount}}</h2>
            <h2>{{ride.status}}</h2>
            <p>{{ride.startTime}}</p>
          </ion-label>
          <ion-note slot="end" color="success">
            <h3>{{ride.bus.route}}</h3>
          </ion-note>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger">
            Delete
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

  </ion-list>

</ion-content>