<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-grid class="content">

      <ion-row justify-content-center>

        <ion-col align-self-center size-lg="6">
          <ion-row>
            <ion-col>

              <form (ngSubmit)="updateUser()">

                <ion-item lines="none">
                  <ion-label position="stacked">Phone </ion-label>
                  <ion-input disabled [(ngModel)]="phoneNumber" name="phoneNumber" color="dark" type="text">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">Balance</ion-label>
                  <ion-input disabled [(ngModel)]="accountBalance" name="accountBalance" color="dark" type="text">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">First Name</ion-label>
                  <ion-input [(ngModel)]="firstname" name="firstname" color="dark" type="text">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">Last Name</ion-label>
                  <ion-input [(ngModel)]="lastname" name="lastname" color="dark" type="text">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">NIC</ion-label>
                  <ion-input [(ngModel)]="nic" name="nic" color="dark" type="text">
                  </ion-input>
                </ion-item>

                <ion-item lines="none">
                  <ion-button expand="full" color="dark" class="btn-secondary" type="submit">UPDATE</ion-button>
                </ion-item>
                <p text-center>Always keep your details up to date.</p>
              </form>

            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

    </ion-grid>
  </ion-grid>
</ion-content>